@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/variables' as *;

.project-card{
    background-color: $black;
    color: $ash;
    border-radius: 10px;
    @include flexSpaceBetweenColumn;
    width: 21rem;
    padding: 1rem;
    border: 2px solid $dark-purple;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.7); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.7);
    margin-bottom: 2rem;

    &__heading{
        color: $bone;
        margin: .5rem 0;
    }

    &__img{
        width: 18rem;
        height: 12rem;
        border-radius: 10px;
    }

    &__content{
        padding: 0 1rem;
    }

    &__button-container{
        justify-self: flex-end;
    }
}