@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;

.about{
    margin: 3rem 2rem;
    &__header{
        @include flexSpaceBetweenRow;
    }
    &__button-container{
        @include flexCenterRow
    }

    &__text-content{
        width: 65%;
    }

    &__subheading{
        @include flexSpaceBetweenRow;
    }
}

.about li {
    margin: 0;
}
