@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/variables' as *;


.hero {
    @include flexSpaceBetweenRow;
    padding-left: 1.5rem;
    background-image: url('../../assets/images/black-carbon-fiber-35yxtk8m3ebo7623.jpg');
    height: 90vh;

    &__header{
        color: $bone;
        margin-bottom: 0;
    }
    &__sub-header{
        color: $ash;
        margin-top: 0;
    }
    &__text{
        color: $bone;
    }
    &__button-container{
        @include flexSpaceEvenlyRow;
        justify-content: flex-start;
    }
    &__main{
        width: 40%;
    }
    &__img-container{
        height: 100%;
    }
    &__img{
        height: 100%;
    }
}
